In [25]:
import pandas as pd
import requests
import seaborn as sns
import  matplotlib.pyplot as plt

In [10]:
# поработаем с открытым API от The Metropolitan Museum of Art Collection 

# создадим запрос на поиск произведений, в описании которых есть слово 'sunflower'
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflower')
res = r.json()
# организуем полученные id в список
res = res['objectIDs']
res

[485308,
 437112,
 707887,
 436524,
 363282,
 360837,
 210191,
 11922,
 816522,
 2032,
 400581,
 367817,
 20141,
 480725,
 2019,
 208554,
 486590,
 437115,
 207869,
 761604,
 375281,
 705155,
 484935,
 423400,
 343052,
 223828,
 682927,
 57922,
 649813,
 79739,
 193938,
 339347,
 626832,
 208218,
 437984,
 202228,
 436534,
 704667,
 696949,
 437329,
 436252,
 437526,
 436580,
 190739,
 207753,
 347980,
 822570,
 487043,
 203893,
 367434,
 431264,
 423237,
 397949,
 262423,
 403496,
 13644,
 656530,
 18362,
 820022,
 648617,
 664519,
 761731,
 814626,
 207967,
 262430,
 262428,
 839296,
 707697,
 205386,
 262378,
 426804,
 633526,
 436121,
 369073,
 747779,
 436144,
 852414,
 427872,
 436530,
 436535,
 436529,
 437980,
 724844,
 834585,
 834580,
 834765]

In [11]:
for i in [436524, 2032, 437329, 20149, 16822570]:
    if i in res:
        print(i)

436524
2032
437329